[Desktop Entry]
Type=Application
Name=HabboAirForLinux Launcher
Exec=bash -c "~/.local/share/applications/HabboAirForLinux/HabboLauncher.sh %u"
StartupNotify=false
Terminal=true
Icon=HabboAirForLinux.png
Categories=Game;
MimeType=x-scheme-handler/habbo;
